.header {
    position: absolute;
    left: 0;
    right: 0;
    height: 92px;

    top: 0;
    background-color: rgb(32, 32, 32);
    text-align: center;

    border-bottom: 4px solid rgb(80, 80, 80);
}

.sidebar {
    position: absolute;
    left: 0;
    top: 96px;
    bottom: 0;
    width: 178px;

    background-color: rgb(32, 32, 32);
    border-right: 7px double rgb(80, 80, 80);
}

.content {
    position: absolute;
    left: 186px;
    top: 96px;
    right: 0;
    bottom: 0;

    background-color: rgb(48, 48, 48);
}
