<!DOCTYPE html>
<html lang="en">
    <head>
        <title>dashboard</title>
        <link rel="stylesheet" href="/static/dashboard-html.css">
        <link rel="stylesheet" href="/static/dashboard-layout.css">
        <link rel="stylesheet" href="/static/dashboard-app.css">
        <link rel="stylesheet" href="/static/dashboard-status.css">
    </head>

    <body>
        <div>
            <div class="header">
                <h1>dashboard</h1>
            </div>
            <div class="sidebar">
                <ul>
                    <li>opt1</li>
                    <li>opt2</li>
                    <li>opt3</li>
                </ul>
            </div>
            <div class="content">

                <!-- todo: this will need to be commented out, and/or added programmatically for each element returned from rest app -->
                <div id="app1" class="application">
                    <div class="app-name">app1</div>
                    <div id="app1-dev" class="env up">dev</div>
                    <div id="app1-uat" class="env down">uat</div>
                    <div id="app1-prd" class="env up">prd</div>
                </div>
                <div id="app2" class="application">
                    <div class="app-name">app2</div>
                    <div id="app2-dev" class="env up">dev</div>
                    <div id="app2-uat" class="env up">uat</div>
                    <div id="app2-prd" class="env up">prd</div>
                </div>
                <div id="app3" class="application">
                    <div class="app-name">app3</div>
                    <div id="app3-dev" class="env up">dev</div>
                    <div id="app3-uat" class="env up">uat</div>
                    <div id="app3-prd" class="env up">prd</div>
                </div>
            </div>
        </div>
    </body>
</html>
