<!DOCTYPE html>
<html lang="en">
    <head>
        <title>dashboard</title>
        <link rel="stylesheet" href="/static/styles/html.css">
        <link rel="stylesheet" href="/static/styles/layout.css">
        <link rel="stylesheet" href="/static/styles/dashboard/app.css">
        <link rel="stylesheet" href="/static/styles/dashboard/status.css">
        <script src="/static/scripts/expando.js"></script>
    </head>

    <body>
        <div>
            <div class="header">
                <h1>dashboard</h1>
            </div>
            <div class="sidebar">
                <ul>
                    <li>opt1</li>
                    <li>opt2</li>
                    <li>opt3</li>
                </ul>
            </div>
            <div class="content">
                {% for app in apps %}
                    <div id="{{ app.name }}" class="application">
                        <div class="app-name">{{ app.name }}</div>
                        {% for env in app.environments %}
                            <div id="{{ env.name }}_{{ app.name }}" class="env">
                                <div id="name_{{ env.name }}_{{ app.name }}" class="env-name" onclick="toggleVisibility('links_{{ env.name }}_{{ app.name }}')">
                                    {{ env.name }}&nbsp;&nbsp;
                                    <div class="status unknown">&#10227;</div>
                                </div>
                                <div id="links_{{ env.name }}_{{ app.name }}" class="links" style="display:none">
                                    {% for link in env.links %}
                                        <a href="{{ link.url }}" target="_blank">{{ link.link_type }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>
