<!DOCTYPE html>
<html lang="en">
    <head>
        <title>dashboard</title>
        <link rel="stylesheet" href="/static/dashboard-html.css">
        <link rel="stylesheet" href="/static/dashboard-layout.css">
        <link rel="stylesheet" href="/static/dashboard-app.css">
        <link rel="stylesheet" href="/static/dashboard-status.css">
    </head>

    <body>
        <div>
            <div class="header">
                <h1>dashboard</h1>
            </div>
            <div class="sidebar">
                <ul>
                    <li>opt1</li>
                    <li>opt2</li>
                    <li>opt3</li>
                </ul>
            </div>
            <div class="content">
                {% for app in apps %}
                    <div id="{{ app.app_name }}" class="application">
                        <div class="app-name">{{ app.app_name }}</div>
                        {% for env in app.environments %}
                            <div id="{{ env.dev_id }}" class="env">{{ env.name }}</div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>
